{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endif %}
        {% endfor %}
    {% endif %}
    <style>
    .borderless td, .borderless th {
        border: none;
    }
    </style>
    <div class="row">
        <form action="{% url 'receta:nuevoexamen' %}" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-12 col-lg-6">
                <section class="panel panel-primary col-lg-12">
                    <header class="panel-heading">
                        Cliente
                    </header>
                    <table class="table table-bordered">
                            <input type="text" hidden name="Cliente" id="id_Cliente">
                            <tr>
                                <th id="cliente_foto" rowspan="3"><img src="/media/{{ cliente.foto }}" width="100"></th>
                                <th>Nombre</th>
                                <th id="cliente_nombre">{{ cliente.nombre_completo }}</th>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td id="cliente_telefono">{{ cliente.telefono }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><span class="badge bg-red" id="cliente_email">{{ cliente.email }}</span></td>
                            </tr>
                        </table>
                    </section>
                <section class="panel panel-primary col-lg-12">
                        <header class="panel-heading">
                              Tipo de Lente
                        </header>
                        <div class="panel-body" >
                            <div class="form-group">
                                  {{ form.lente.error }}
                                  <label for="{{ form.lente.auto_id }}" class="col-lg-2 col-sm-2 control-label">{{ form.lente.label }}</label>
                                  <div class="col-lg-10">
                                        {{ form.lente }}
                                  </div>
                            </div>
                            <div class="form-group">
                                  {{ form.complementos.error }}
                                  <label for="{{ form.complementos.auto_id }}" class="col-lg-2 col-sm-2 control-label">Aditivo</label>
                                  <div class="col-lg-10">
                                        {{ form.complementos }}
                                  </div>
                            </div>
                            <div class="form-group">
                                  {{ form.imagen.error }}
                                  <label for="{{ form.imagen.auto_id }}" class="col-lg-2 col-sm-2 control-label">{{ form.imagen.label }}</label>
                                  <div class="col-lg-10">
                                        {{ form.imagen }}
                                  </div>
                            </div>
                        </div>
                    </section>
            </div>
            <div class="col-sm-12 col-lg-6">
                <section class="panel panel-primary col-lg-12">
                        <header class="panel-heading">
                            <strong>REFRACCIÓN</strong>
                        </header>
                        <div class="panel-body" >
                            <table class="table table-bordered">
                                <tr>
                                    <th></th>
                                    <th>Ojo Derecho</th>
                                    <th>Ojo Izquierdo</th>
                                </tr>
                                <tr>
                                    <td>ESF.</td>
                                    <td>{{ form.od_esf }}</td>
                                    <td>{{ form.oi_esf }}</td>
                                </tr>
                                <tr>
                                    <td>CIL.</td>
                                    <td>{{ form.od_cil }}</td>
                                    <td>{{ form.oi_cil }}</td>
                                </tr>
                                <tr>
                                    <td>EJE.</td>
                                    <td>{{ form.od_eje }}</td>
                                    <td>{{ form.oi_eje }}</td>
                                </tr>
                                <tr>
                                    <td>DIP.</td>
                                    <td>{{ form.od_dip }}</td>
                                    <td>{{ form.oi_dip }}</td>
                                </tr>
                                <tr>
                                    <td>AV. SC.</td>
                                    <td>{{ form.od_avsc }}</td>
                                    <td>{{ form.oi_avsc }}</td>
                                </tr>
                                <tr>
                                    <td>AV. CC.</td>
                                    <td>{{ form.od_avcc }}</td>
                                    <td>{{ form.oi_avcc }}</td>
                                </tr>
                            </table>
                              <div class="form-group">
                                <label for="add">ADD</label>
                                    {{ form.add }}
                              </div>
                              <div class="form-group">
                                  <label for="patologia">Patología</label>
                                {{ form.patologia }}
                              </div>
                        </div>
                    </section>
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success enviar_formulario">Registrar Medición</button>
            </div>
        </form>
    </div>

{% endblock %}
{% block application_javascript %}
    <script type="application/javascript">
            $( document ).ready(function() {
                document.querySelector('#id_Cliente').value = '{{ cliente.dni }}';
                $(".chosen-select").chosen({no_results_text: "No se encontró coincidencias con :", width: '100%' ,allow_single_deselect: true, });
                $("#add_cliente").click(function(event)
                  {
                    event.preventDefault(); // cancel default behavior

                  });

                $('#client-form').on('submit', function(event){
                    event.preventDefault();
                    registrar_cliente();
                });
            });
    </script>
{% endblock %}
