{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel general">
                    <header class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#lista_ventas">BOLETAS DE VENTA</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#bloque">TALONARIO DE BOLETAS DE VENTA</a>

                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="lista_ventas" class="tab-pane active">
                                 <table id="tabla1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <th>Boleta de Venta</th>
                                        <th>Talonario</th>

                                        <th>DNI</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Total</th>
                                        <th>Abono</th>
                                        <th>Saldo</th>
                                        <th>Cancelado</th>
                                        <th>Reporte</th>
                                    </thead>
                                    <tfoot>
                                        <th>Boleta de Venta</th>
                                        <th>Talonario</th>

                                        <th>DNI</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Total</th>
                                        <th>Abono</th>
                                        <th>Saldo</th>
                                        <th>Cancelado</th>
                                        <th>Reporte</th>

                                    </tfoot>
                                    <tbody>
                                        {% for venta in ventas %}
                                        <tr>
                                            <td>{{ venta.nro }}</td>
                                            <td>{{ venta.bloque}}</td>

                                            <td>{{ venta.dni_cliente.dni }}</td>
                                            <td>{{ venta.dni_cliente.nombre_completo }}</td>
                                            <td>{{ venta.fecha }}</td>
                                            <td>{{ venta.total }}</td>
                                            <td>{{ venta.importe }}</td>
                                            <td>{{ venta.saldo }}</td>
                                            <td>
                                                {% if venta.cancelado %}
                                                    <img src="{% static 'images/check.png' %}" width="25" height="25" data-toggle="tooltip" title="Venta Cancelada"> Pagado
                                                {% else %}
                                                    <img src="{% static 'images/pay.png' %}" width="25" height="25" data-toggle="tooltip" title="Falta Pagar"> Por Pagar</a>
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'facturacion:reporte' venta.id %}" target="_blank"><img src="{% static 'images/ver.png' %}" width="25" height="25" data-toggle="tooltip" title="Click para ver el reporte">Ver Reporte</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div id="bloque" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <legend>Talonarios de Boletas de Venta: {{ bloque }}</legend>
                                        <form method="POST" ACTION="{% url  'facturacion:change_BloqueVenta'%}"> {% csrf_token  %}

                                                <div class="form-group">
                                                    {{ bloque_form }}
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary col-lg-12">Seleccionar Bloque</button>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6">
                                        <form action="{% url 'facturacion:new_BloqueVenta' %}">
                                            {% csrf_token %}
                                            <div class="alert alert-info" role="alert">
                                                <strong>Importante:</strong> El Bloque de Ventas es equivalente a los talonarios de las Boletas de Ventas.
                                                <br>
                                                Si se selecciona un nuevo bloque de venta, la numeración de las Boletas de Venta se reinician a 1 y se van autoincrementado.
                                            </div>
                                            <div class="alert alert-success" role="alert"><strong>Nuevo Bloque: </strong>Crea un nuevo Bloque de Venta.</div>
                                            <button type="submit" class="btn btn-success col-lg-12">Nuevo Bloque</button>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>

                     </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block application_javascript %}
    <script>
    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect	: 'elastic',
            closeEffect	: 'elastic',

            helpers : {
                title : {
                    type : 'inside'
                }
            }
            });
        $('[data-toggle="tooltip"]').tooltip();
         // Setup - add a text input to each footer cell
        $('#tabla1 tfoot th').each( function () {
            var title = $('#tabla1 thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
        } );

        // DataTable
        var table = $('#tabla1').DataTable(datatable);

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );


        $(".chosen-select").chosen({no_results_text: "No se encontró coincidencias con :", width: '100%' ,allow_single_deselect: true, });
    } );
    </script>
{% endblock %}